/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  font-size: 1.6rem;
}

h1 {
  font-family: $font-heading;
  font-size: 4.8rem;
  text-transform: uppercase;
}

h2 {
  font-family: $font-heading;
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::before {
    background: $brand-primary;
    bottom: 0;
    content: '';
    height: 0.3rem;
    position: absolute;
    width: 4rem;
  }

  @media screen and ( min-width: $md ) {
    font-size: 4.8rem;
    line-height: 6.4rem;
    margin-bottom: 3rem;

    &::before {
      height: 5px;
      width: 6rem;
    }
  }
}

h3 {
  font-family: $font-heading;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
  line-height: 3.4rem;

  @media screen and ( min-width: $md ) {
    font-size: 1.8rem;
  }
}

.btn {
  background: $brand-primary;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 20px 0px rgba(38,35,32,0);
  color: $white;
  cursor: pointer;
  displaY: block;
  font-family: $font-heading;
  font-size: 2.4rem;
  margin-top: 2rem;
  max-width: 450px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  transform: scale(1,1);
  transition: transform 125ms ease, box-shadow 125ms ease;
  width: 100%;

  &:hover, &:focus {
    box-shadow: 0px 0px 20px 0px rgba(38,35,32,0.3);
    transform: scale(1.03, 1.03);
  }

  &:focus {
    outline: 2px solid $dark-gray;
    outline-offset: 1px;
    bordeR: none;
  }
}

fieldset {
  border: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.contact_form {
  max-width: 530px;
  padding: 2rem;
  width: 100%;

  @media screen and ( min-width: $md ) {
    font-size: 1.8rem;
    padding: 4rem;
  }
}

label {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  width: 100%;
}

input {
  border: 1px solid $border-color;
  border-bottom: 3px solid $dark-gray;
  border-radius: 0;
  displaY: block;
  height: 4rem;
  transition: border 125ms ease;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
  }
}

textarea {
  border: 1px solid $border-color;
  border-bottom: 3px solid $dark-gray;
  border-radius: 0;
  displaY: block;
  height: 4rem;
  min-height: 185px;
  transition: border 125ms ease;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
  }
}