.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.hero {
    background: url('/images/hero-mobile.jpg') top left no-repeat;
    padding: 0 20px;
    position: relative;

    .intro {
        overflow: hidden;
    }

    h1 {
        color: $white;
        font-size: 6.6rem;
        line-height: 7.7rem;
        margin-left: -0.3rem;
        margin-top: -1.5rem;
    }

    .container {
        position: relative;
    }

    .sub_header {
        border: 1px solid $white;
        color: $white;
        margin-bottom: 2.9rem;
        margin-top: 1.2rem;
        padding: 0.4rem 1.4rem;
        position: relative;
    }

    .images {
        margin-left: -2rem;
        margin-right: -2rem;

        img {
            width: 100%;
        }
    }

    .image-container {
        position: relative;
    }

    .circle {
        align-items: center;
        background: $dark-gray;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba( 38, 35, 32, 0.3 );
        color: $white;
        display: flex;
        flex-wrap: wrap;
        height: 18.6rem;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 18.6rem;
        z-index: 2;

        h3 {
            font-size: 2.5rem;
            line-height: 2.7rem;
            margin-top: -4rem;
            padding: 0 1rem;
            text-align: center;
        }

        &.orange {
            background: $brand-primary;
        }
    }

    .icon {
        width: 100%;

        svg {
            display: block;
            margin: 0 auto; 
            height: 4.8rem;
        }
    }
    
    @media screen and ( min-width: $md ) {
        background: url('/images/hero.jpg') top left no-repeat;
        background-size: cover;
        height: 700px;
        margin-bottom: 206px;

        h1 {
            font-size: 17.8rem;
            line-height: 18.5rem;
            margin-bottom: -2rem;
            margin-left: 1rem;
            margin-top: -2.9rem;
        }

        .sub_header {
            font-size: 2.4rem;
            line-height: 3.2rem;
            padding: 1.4rem 2.4rem;
            position: absolute;
            right: 0;
            top: 200px;
            width: 430px;
        }

        .images {
            display: flex;
            margin: 0;
        }

        .image-container {
            box-shadow: 0 3px 6px rgba( 38, 35, 32, 0.3 );
            flex: 1 0 50%;
        }


    }

    @media screen and ( min-width: $lg ) {
        .circle {
            box-shadow: 0 3px 40px rgba( 38, 35, 32, 0.2 );
            height: 250px;
            width: 250px;
            left: 30%;
            top: 80%;

            .icon {
                svg {
                    height: 5.4rem;
                }
            }
    
            h3 {
                font-size: 3.3rem;
                line-height: 3.6rem;
                margin-top: -4rem;
                padding: 0 2rem;
            }
        }
    }
}


.services {
    .container {
        padding: 12rem 2rem 4rem 2rem;
    }

    .service_grid {
        display: grid; 
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        background: $white;
        border-bottom: 3px solid $brand-primary;
        box-shadow: 0 3px 40px rgba( 38, 35, 32, 0.2 );
        min-height: 182px;
        padding: 20px;

        p {
            font-weight: 700;
            line-height: 2.4rem;
        }

        &.contact {
            background: $dark-gray;
            color: $white;
        }

        h3 {
            margin-bottom: 2.4rem;
            line-height: 3.4rem;
            position: relative;

            &::before {
                background: $brand-primary;
                bottom: 0;
                content: '';
                height: 0.3rem;
                position: absolute;
                width: 4rem;
            
                @media screen and ( min-width: $md ) {
                    height: 5px;
                    width: 6rem;
                }
            }
        }
    }

    @media screen and ( min-width: $md ) {
        .container {
            padding: 12rem 0 12rem 0;
        }

        .service_grid {
            grid-gap: 3rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .icon {
            margin-bottom: 3rem;
        }

        .card {
            min-height: 275px;

            p {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }

            h3 {
                font-size: 3rem;
                line-height: 5rem;
                margin-bottom: 3.4rem;
            }
        }
    }
}

.before_after_text {
    background: $brand-primary;
    position: relative;

    .container {
        padding: 4rem 2rem;
    }

    h2 {
        color: $white;

        &::before {
            background: $white;
        }
    }

    p {
        color: $white;
        margin: 0 auto 2rem auto;
        width: 100%;
        max-width: 900px;
    }

    @media screen and ( min-width: $md ) {
        .container {
            padding: 12rem 2rem 24rem 2rem;
        }
    }

    @media screen and ( min-width: 1750px ) {
        .side_image {
            background: url('/images/clamshellCoil.png') top left no-repeat;
            background-size: contain;
            filter: drop-shadow(8px 8px 20px rgba( 38, 35, 32, 0.5 ));
            height:600px;
            left: 0;
            position: absolute;
            top: -49px;
            width: 600px;
        }
    }
}

.before_after_images {
    .container {
        padding: 0 2rem 4rem 2rem;
    }

    .img_contain {
        box-shadow: 0 3px 40px rgba( 38, 35, 32, 0.2 );
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        position: relative;

        img {
            flex: 1 0 100%;
            display: block;
        }
    }

    .title {
        background: rgb(219,106,52);
        background: linear-gradient(90deg, rgba(219,106,52,1) 0%, rgba(219,106,52,0.8) 100%);
        color: $white;
        display: block;
        bottom: 0;
        padding: 1rem 2rem;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .quote {
        display: none;
    }

    .seventy_five_text {
        margin-top: 4rem;

        p {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 3.8rem;
        }

        .orange {
            color: $brand-primary;
        }

        .underline {
            color: $brand-primary;
            text-decoration: underline;
        }
    }

    @media screen and ( min-width: $md ) {
        
        .container {
            padding: 0 2rem 12rem 2rem;
        }

        .img_contain {
            &:first-child {
                margin-top: -20rem;
            }

            img {
                flex: 1 0 50%;
                width: 50%;
            }
        }

        .seventy_five_text {
            display: flex;
            flex-wrap: nowrap;
            margin-top: 12rem;

            p {
                font-size: 4.8rem;
                line-height: 5.5rem;
                margin-top: 5rem;
            }
        }

        .quote {
            background: $brand-primary;
            border-radius: 50%;
            height: 15rem;
            margin-right: 20px;
            position: relative;
            width: 15rem;

            span {
                color: $white;
                font-size: 19.5rem;
                left: 50%;
                line-height: 0;
                position: absolute;
                top: 85%;
                transform: translateX(-50%);
            }
        }
    }
}

.new_coils {
    background: $dark-gray;
    color: $white;

    p {
        display: block;
        font-weight: 700;
        margin: 0 auto 4rem auto;
        max-width: 800px;
        padding: 0 2rem;
        text-align: center;
    }

    .container {
        padding: 4rem 2rem 4rem 2rem;
    }

    .gallery {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .img {
        box-shadow: 0 3px 40px rgba( 0, 0, 0, 1 );
    }

    img {
        width: 100%;
    }

    @media screen and ( min-width: $md ) {
        .container {
            padding: 12rem 0 12rem 0;
        }

        p {
            font-size: 1.8rem;
        }

        .gallery {
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .gallery_button {
            margin: 3rem auto 0 auto;
            max-width: 380px;

            &:hover, &:focus {
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
            }
        }
    }
}

.contact {
    position: relative;

    .container {
        padding: 4rem 2rem 4rem 2rem;
    }

    .contact_form {
        padding: 0;
    }

    @media screen and ( min-width: $md ) {


        .container {
            padding: 12rem 0 12rem 0;
        }
        .contact_form {
            box-shadow: 0px 0px 20px 0px rgba(38,35,32,0.2);
            margin: 0 auto;
            padding: 4rem;
        }
    }

    @media screen and ( min-width: 1750px) {
        .side_image {
            background: url('/images/footerCoil.png') top left no-repeat;
            position: absolute;
            right: 5%;
            bottom: -7.4rem;
            height: 800px;
            width: 310px;
        }
    }
}